no-result {
    .icon-large {
      font-size: 100px !important;
    }
  
    .text-large {
      font-size: 25px !important;
    }
  
    .empty-list {
      margin-top: 30px !important;
      color: #9E9E9E !important;
    }
  }
  