// Layout
.content {
    padding: 10px;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

// Content
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

// Utils
.rounded {
    border-radius: 50%;
}

.details-item {
    color: map_get($colors, dark) !important;
}

.details-desc {
    color: map_get($colors, grey) !important;
}

.wine-red {
    color: map_get($colors, wine-red);
}
.wine-pink {
    color: map_get($colors, wine-pink);
}
.wine-white {
    color: map_get($colors, wine-white);
}
.wine-white-2 {
    color: map_get($colors, wine-white-2);
}
.wine-sparkling {
    color: map_get($colors, grey);
}

.background-grey {
    background-color: map_get($colors, light-grey) !important;
}

.toast-error .toast-wrapper {
    opacity: 0.9;
    background-color: map_get($colors, red);
}

.toast-sucess .toast-wrapper {
    opacity: 0.9;
    background-color: map_get($colors, green);
}

.subtitle {
    color: map_get($colors, grey);
}

// Override
ion-card {
    border-radius: 8px !important;
}

ion-navbar {
    background-color: map_get($colors, primary) !important;
}