<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{title}} <span *ngIf="wineProvider.calculateTotal(wines) !== 0">({{wineProvider.calculateTotal(wines)}})</span></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openModalFilter()">
                <ion-icon name="funnel"></ion-icon>
            </button>
            <button ion-button icon-only (click)="loadWines()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    
<ion-content>
    <no-result *ngIf="!wines || wines.lenght === 0" [message]="message"></no-result>

    <div *ngIf="wines || wines.lenght > 0">
        <ion-searchbar (ionInput)="filterWines($event)" placeholder="Rechercher"></ion-searchbar>
    
        <ion-list>
            <ion-item *ngFor="let wine of wines | filter: searchValue" (click)="openWineDetailsPage(wine)" [ngClass]="{'background-grey':wine.comment}">
            <ion-icon name="water" item-start
            [ngClass]="{'wine-red':wine.type === helper.types[0],
            'wine-white':wine.type === helper.types[1],
            'wine-white-2':wine.type === helper.types[2],
            'wine-pink':wine.type === helper.types[3],
            'wine-sparkling':wine.type === helper.types[4]}"></ion-icon>
            <h2>{{wine.year}} - {{wine.designation}}</h2>
            <h3>{{wine.producer}}</h3>
            <ion-badge item-end color="primary">{{wine.quantity}}</ion-badge>
            </ion-item>
        </ion-list>
    </div>
</ion-content>