<ion-header>
  <ion-navbar color="primary">
    <ion-title><span *ngIf="wines">{{calculateTotal()}} bouteilles</span></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="loadWines()">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only (click)="loadWines()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <no-result *ngIf="!wines" [message]="message"></no-result>

      <ion-list *ngIf="wines">
        <ion-item *ngFor="let wine of wines" (click)="openWineDetailsPage(wine)" [ngClass]="{'background-grey':wine.comment}">
          <ion-icon name="water" item-start
          [ngClass]="{'wine-red':wine.type.includes('Rouge'), 'wine-pink':wine.type.includes('Rosé'), 'wine-white':wine.type.includes('Blanc')}"></ion-icon>
          <h2>{{wine.year}} - {{wine.designation}}</h2>
          <h3>{{wine.producer}}</h3>
          <ion-badge item-end color="primary">{{wine.quantity}}</ion-badge>
        </ion-item>
      </ion-list>
</ion-content>
