<ion-header>
  <ion-navbar>
    <ion-title>Nos vins</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="wines">
      <ion-item *ngFor="let wine of wines" (click)="openWineDetailsPage(wine)">
        <ion-icon name="water" item-start [ngClass]="{'wine-red':wine.type === 'Rouge', 'wine-pink':wine.type === 'Rosé', 'wine-white':wine.type === 'Blanc'}"></ion-icon>
        <h2>{{wine.designation}}</h2>
        <h3>{{wine.producer}}</h3>
        <p>{{wine.year}}</p>
      </ion-item>
    </ion-list>
</ion-content>
